<%- include('../partials/questions/head') %>
<body>
  <%- include('../partials/questions/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <div style="border: 1px solid grey">
          <h4 style="margin: 10px;">
            Top 5 girls names in the England and Wales
          </h4>
          <ol style="list-style-type: decimal; margin: 20px;">
            <% popularGirlNames.forEach(girl => { %>
            <li style="padding: 3px;"><%=girl%></li>
            <% });%>
          </ol>
          <%- include( '../partials/questions/navigation', {before:
          "/question4", next: "/question6"}) %>
        </div>
      </div>
    </div>
  </div>
</body>
