<%- include('../partials/questions/head') %>

<body>
  <%- include('../partials/questions/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/4') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <ul>
          <% popularGirlNames.forEach(girl => { %>
          <li><%- girl %></li>
          <% }); %>
        </ul>
        <%- include( '../partials/questions/navigation', {before: "/question3",
        next: "/question5"}) %>
      </div>
    </div>
  </div>
</body>
