<%- include('../partials/questions/head') %>
<body>
  <%- include('../partials/questions/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <h4><%=homer.name%></h4>
        <div style="display: flex; flex-direction: column">
          <img
            style="width: 200px; height: 300px; margin: 10px 0;"
            src="<%=homer.imageUrl%>"
          />
          <p>
            <span style="font-weight: bold;">Date Of Birthday:</span>
            <%=homer.dob%>
          </p>
          <p>
            <span style="font-weight: bold;">Profession: </span
            ><%=homer.profession%>
          </p>
          <p>
            <span style="font-weight: bold;">Favorite Food:</span>
            <%=homer.favoriteFood%>
          </p>
          <p>
            <span style="font-weight: bold;">Favorite Beverage:</span>
            <%=homer.favoriteBeverage%>
          </p>
        </div>
        <%- include( '../partials/questions/navigation', {before: "/question2",
        next: "/question4"}) %>
      </div>
    </div>
  </div>
</body>
